@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'PT Serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.App:before {
  content: '';
  background: url('./assets/sunset2.jpg') no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}


.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  /* top: -65px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.App .top {
  width: 100%;
  margin: 1rem auto;
  margin-top: 100px;
  }
  
  .App .description {
    position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
  }

  .App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  transform: translateY(-100px);
  }

  .App input {
    padding: 10px 20px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    margin-left: 650px;
    margin-top: 20px;
    }
  
  ::placeholder {
    color: #fff;
    opacity: 0.7;
  }

  /* Media queries for responsiveness */

@media (max-width: 1200px) {
  .App input {
    margin-left: 0;
    width: 200px;
    margin: 20px auto;
  }
}

@media (max-width: 1200px) {
  .container {
    height: auto;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.4rem;
  }

  .App .bottom {
   margin-top: 100px;
    flex-direction: column;
    padding: 1rem 0;
  }

  .App input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .App .top {
    margin-top: 50px;
  }

  .App .bottom {
    padding: 0.5rem 0;
  }

  .App input {
    width: 100%;
  }
}
@media (max-width: 340px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .App .top {
    margin-top: 50px;
  }

  .App .bottom {
    font-size: 10px;
    padding: 0.5rem 0;
  }

  .App input {
    width: 100%;
  }
}